.mainCard
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}
body 
{
    font-family: 'Roboto';
}
#cardHeaderFirstPage
{
    font-size: 36px;
    color: #26a69a
}
#findMeTimeButton
{
    align-self: center;
    margin-left: 35%;
    margin-top: 10%;
    width: 30%;
    font-size: 22px;
    height: 80px;
}
#calendarImage
{
    height: 300px;
    width: 300px;
    margin-top: 70%;
    margin-left: 15%;
}
#clockImage
{
    height: 500px;
    width: 500px;
    margin-top: 50%;
}
#secondSection
{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    
}
#secondPageCard
{
    background: white;
    border-radius: 20px;
}